@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#banner {
    background-image: url(/img/vento.jpeg);
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text{
    display: inline-block;
    padding: 15px;
    background-color: rgba(54, 56, 58, 0.513);
}