@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding: 30px;
}

body {
    background-color: #131010;
    font-family: 'Manrope', sans-serif;
}

/* menu superior */

header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    background-color: black;
    z-index: 1;
}

h1,
h2,
h3 {
    color: white;
    font-size: 30px;
    font-family: 'Manrope', sans-serif;
    text-align: center;
}

header h1::first-letter {
    color: red;
}

header li a {
    color: white;
    font-family: 'Manrope', sans-serif;
    padding: 10px 30px;
    border-radius: 9px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

header li a:hover {
    background-color: red;
    color: black;
}

header ul {
    display: flex;
}

header ul li {
    margin-left: 4px;
}

header ul li a {
    padding: 10px;
}