* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 70px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

.center {
    border: 5px solid gray;
    margin: 0;
    text-align: center;
    font-size: 12px;
}

.box-1 {
    position: absolute;
}

.box-2 {
    position: absolute;
    right: 0;
}

.box-3 {
    position: fixed;
    left: 50%;
    bottom: 0;
}